.sideBar{
    background-image: linear-gradient(to top ,#619bb6 15% ,#55acd4);
    box-shadow: -8px 4px 4px rgba(52, 54, 58, 0.35);
    width: 65px;
    height: 520px;
    position: absolute;
    top: 12%;
    left: 1.2%;
    border-radius: 40px 0 40px 40px;
    animation: aparecer1 .4s;
    display: flex;
}
@keyframes aparecer1{
    0%{
        width: 250px;
    }
    100% {
        width: 65px;
    }
} 
.sideBar2{
    background-image: linear-gradient(to top ,#619bb6 15% ,#55acd4);
    box-shadow: -8px 4px 4px rgba(52, 54, 58, 0.35);
    width: 250px;
    height: 520px;
    position: absolute;
    top: 12%;
    left: 1.2%;
    border-radius: 40px 0 40px 40px;
    animation: aparecer2 .4s;
    display: none;
}
@keyframes aparecer2{
    0%{
        width: 65px;
    }
    100% {
        width: 250px;
    }
} 

.mostrarMais{
    width: 18px;
    height: 20px;
    position: absolute;
    top: 0%;
    left: 100%;
    border-radius: 0 8px 8px 0;
    border: none;
    font-size: 20px;
    color: #dddddd;
    background: #55acd4;
    cursor: pointer;
    display: flex;
    transition: 0.3s;
}

#mostrar{
    position: absolute;
    top: 0px;
    left: 3px;
}
.mostrarMenos{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 250px;
    border-radius: 0 8px 8px 0;
    border: none;
    font-size: 20px;
    color: #dddddd;
    background: #55acd4;
    cursor: pointer;
    display: none;
    transition-duration: unset;
    animation: aparecer3 .4s;
}
@keyframes aparecer3{
    0%{
        left: 60px;
    }
    100% {
        left: 250px;
    }
} 
#mostrarM{
    position: absolute;
    top: 0px;
    left: 5px;
    transform: rotate(180deg);
}